*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
header{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: #000;
}
body{
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}
/* container criado para o site ter uma largura maxima com o flex pósicionamos os elementos dentro do container e alinhamos eles ao centro  */
.container{
    width: 1140px;
    max-width: 1140px;
    height: 100px;

    display: flex;
    align-items: center;
} 
/*largura da area do logo e do logo em si possuindo uma margem para nao ficar com o menu muito junto do meu logo usado o tamanho fixo*/
.logo{
    width: 100px;
}
.logo img{
    width: 80px;
    height: 80px;
}
/* area do menu com flex 1 para poder ocupar todo o tamanho disponivel restante do container  aassim podemos por nossos elementos do  menu e posiciona-los */
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    
}
/* area de estilizaçao do menu estilizamos o a porque as opçoes de menu ficam dentro dele */
.menu ul{
   display: flex;
}
.menu li{
    list-style: none;
}
/* para o menu ser ativado em toda a area disponivel colocamos uma altura aqui foi utilkizada a altura da propria area do menu usamos o flex pois ele permite que cosigamos alinhas os elementos no centro usando o align-items.*/
.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;   /* essa borda é utilizada para os elemento nao desalinharem com a açao do hover */
}
.menu-opener{
    display: none;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.button{
    background-color: #b28756;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
} 
/*estilizçao do banner*/
.banner{
    height: calc(100vh - 100px);  /*utilizamos o calc para assim que o usuario entrar na pagina e ele veja somente o banner entao usamo os vh  -100px que a area do nosso header */
    background-color: #333;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden; /*ignora tudo oque passa das medidas do banner */
}
/*estrutura dos slidees feitas a largura vai sser o total de slides qu apagina vai ter por isso especificado o 1000vw*/
.banner .sliders{
   width:1000vw;
   height: 100%;
}
/*a largura aqui é a de cada slide colocado  o inline bloca para ele ficar uma ao lado do outro e tambem manter as caractericas setadas pelo css.*/
.banner .slide{
   width: 100vw;
   height: 100%;
   display: inline-block;
   background-color: rgba(0,0, 0, 0.8);
}
/*area doconteudo dos slides cada slide vai ter suas caracteristicas  essa area vai ate o banner a aqui possui todas as caracteristicas.*/
.banner .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}
/* quando qremos dar mais uma cor em uma frase usamos o espan dentro do h1 com isso podemos estilizar somente o span para pegar as caracteristicas que qremos */
.banner h1 span{
    color: #b28756;
}
.banner h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

    margin-top: 20px;
}

/*estilizaçao dos poiters dos slides  o margin é aplicado para ignorar o hidden feito acima no banner para podermos ver esses poiters a div é colocada em poition absolute e uma margin negativa */
.banner .sliders-pointers{
    width:100vw;
    height: 20px;
    
    position: absolute;
    margin-top: -50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
/*obs quando as classes tem que ser juntas pois eh o mesmo elemento mas ele possui duas classes entao o css identifica ele dessa forma usando as duas classes */
.banner .pointer.active{
    background-color: #b28756;
}
/*criado um fremawork para agilizar o processo de criaçao do site visto que todas as sections tem as mesmas caracteristicas apos o banner criada duas classes ligth e dark para seguir o design do site */
.default{
    padding-top: 50px;
    padding-bottom: 50px;
} 
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;

    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body{
    max-width: 1140px;
    margin: auto;
   
}
/*aqui é criado a sections clara do site */
.default.ligth{
    background-color: #f7f7f7;
}
.default.ligth .section-title,
.default.ligth .section-body{
    color: #000;
}
/* aqui a criada a parte escura do site */
.default.dark{
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}




/* stilizaçao de partes especificas do site*/
/*area de about us, o Botao dessa area foi estilizado em uma class button geral para todo site sao aplicadas as mesma caracteristicas do botao dos banners */

.section-aboutus{
    display: flex;
}
.section-aboutus-left{
    flex: 1;    
}
.section-aboutus-left p{
    font-size: 14px;
    line-height: 20px;
}
.section-aboutus-rigth{
    width: 520px;
    text-align: center;
}
.section-aboutus-rigth img{
    width: 480px;
    box-shadow: 0px 10px 10px #333;
}

/*estilizaçao especificas da area service*/
.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    padding: 20px;
    border-right: 1px solid #333;
}
.section-service:first-child{
    border-left: 1px solid #333
}
.section-service h4{
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;    
}
.section-service p{
    margin-top: 10px;
    font-size: 18px;
    color: #999;
    text-transform: uppercase;
}

/*estilizaçao da area de menu projects*/
.section-projects{
    display: flex; 
    flex-direction: column;
    align-items: center;  
}
.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
    color: #555;
}
.section-projects--filters ul,
.section-projects--filters li{
   list-style: none;
   display: flex;
}
.section-projects--filters li{
    display: table-cell;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #b28756;
}
.section-projects--filters li:first-child{
    border-left: 0px;   
}
/*area de estilizaçao das fotos da area projects usei o wrap para pular toda vez q nao couber mais na largura maxima*/
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;    
}
.section-projects--photoarea img{
    width: inherit;
    height: inherit;
}
.section-project--photoinfo{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0,0, 0, 0.5);
    color: #fff;
}
/*os inherit acima herdam os valores de largura e altura do photoarea*/
.section-project--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
/*aciona a div photoinfo que naturalmente fica com display none ao passa o mouse em cima da photoarea*/
.section-projects--photoarea:hover .section-project--photoinfo{
    display: flex;
}

/*classe adicionada para poder colocar as estilizaçoes sem mudar muito a estrutura ja criada*/

.bg-team{
    background-image: url('/assets/images/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 0;
}
.section-team--area{
    background-color: rgba(0,0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;    
}
.section-team .sliders{
    width:1000vw;
    height: 100%;
}
.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #000;
}

.section-team--area .sliders-pointers{
    margin-top: 30px;
    height: 20px;   
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team--area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team--area .pointer.active{
    background-color: #b28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;
}
.section-team--name{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 600;
   margin-top: 30px;
}
.section-team--role{
   text-transform: uppercase;
   color: #999;
   margin-top: 5px;
}
.section-team--social{
   display: flex;
   margin-top: 10px;
}
.section-team--social a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 25px;
     height: 25px;
     border-radius: 13px;
     background-color: #ccc;
     margin-right: 10px;
}
.section-team--social a:hover{
    background-color: #b28756;
}
/* foi criada uma nova classe para o "framework" para poder estilizar algumas caracteristicas exclusivas referentes a esse trexho de codigo criando asssim um novo slide .*/
.testimonials{
    background-color: #f7f7f7;
}
.testimonials .section-body {
    max-width: initial;
    
}
.section-testimonials {
    overflow:hidden;
}
.section-testimonials .sliders {
    width:1000vw;
    height:100%;
}
.section-testimonials .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-testimonials .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
}

.section-testimonials--avatar {
    width:100px;
}
.section-testimonials--name {
    font-weight: bold;
    font-size:16px;
    margin-top:20px;
}
.section-testimonials--role {
    font-size:14px;
    margin-top: 5px;
}
.section-testimonials--quoteimg {
    width:20px;
    margin-top:30px;
}
.section-testimonials--quote {
    margin-top:10px;
    font-size:13px;
    max-width:700px;
    color:#555;
    text-align:center;
    line-height:25px;
    margin-left:30px;
    margin-right:30px;
}
.section-testimonials .sliders-pointers{
    margin-top: 30px;
    height: 20px;   
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-testimonials .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-testimonials .pointer.active{
    background-color: #b28756;
}
.section-companies {
    border-top:1px solid #DDD;
    border-bottom:1px solid #DDD;
}
.section-companies--area {
    display:flex;
    align-items:center;
}
.section-company {
    flex:1;
    text-align:center;
}

.price{
    background-color: #f7f7f7;
}
/*usamos display flex e flex 1 porque o section-body ja tem uma largura pre definida no css */
.price-table{
    display: flex;
}
/*especifica que cada area aqui tera a mesma medida setada pelo flex1 lembrando q o section-body possui um width de 1140px*/
.price-table--area{
    flex:1;
    background-color: #FFF;

    margin-right: 20px;
    padding:20px;

    text-align:center;
}
.price-table--name{
    font-size: 22px;
    font-weight: 600;
    color: #242424;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.price-table--money{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}
.price-table--period{
    font-size: 13px;
    font-weight: 300;
    color: #999;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.price-table--point{
    font-size: 15px;
    font-weight: 300;
    color: #7e7e7e;
    margin-bottom: 10px;
}
.button--black{
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}
.button--black:hover,
.button--black.active{
    background-color: #b28756;
}
.premium .section-body {
    max-width: initial;
    
}
.section-premium {
    overflow:hidden;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;    
    height:100%;
    justify-content: center;
    align-items:center;
}
.section-premium--first{
      display: flex; 
      flex-direction: column;     
}
.section-premium--checks{
    display: flex;
    margin-bottom: 2rem;
}
.section-premium--desc{
    margin-left: 20px;
}
.section-premium--desc span{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    
} 
.section-premium--desc p{
    font-size: 15px;
    color: #999;
}
.section-premium--feature{
    margin-top: 15px;   
}
.section-premium--feature p{
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
}
.section-premium .sliders-pointers{
    margin-top: 30px;
    height: 20px;   
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-premium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-premium .pointer.active{
    background-color: #b28756;
}
/*estilizaçao do facts*/
.section-facts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-fact{
    flex: 1;
    text-align: center;
    padding:15px;
}
.section-fact h3{
    font-size: 20px;
    font-weight: 600;
    color: #b28756;
}
.section-fact--inline{
    width: 20px;
   border-bottom: 2px solid #b28756;
   margin: auto;
}
.section-fact h4{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 18px;
}
.section-fact p{
    font-size: 13px;
    color: #999;
    margin-top: 10px;
}
/*estilizaçao da section share  nao foi usado o framework nessa section*/
.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}
.section-contact{
    max-width: 450px;
    text-align:center;
    margin: auto;
}
.section-contact--split{
    display: flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}
.section-contact input[type=text],
.section-contact textarea,
.section-contact input[type=email] {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:80px;
    resize:none;
}
.section-contact .button{
    cursor: pointer;
}
.section-map{
    background-image: url('/assets/images/mapa.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map-area{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info{
    width: 50%;
    padding:30px;
    background-color: #fff;
    color: #999;
    
}
.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}
.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    background-color: #ccc;
    border-radius: 15px;
    margin-right: 15px;   
}
.section-map--info-item-img img{
    width: 15px;
    height: auto;
}
/*criada essa class para poder colocar as class principai do footer em flex*/
.section-footer{
    display: flex;
}
/*left e midle com flex 2 as duas pcupam a maior parte do footer*/
.footer-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.footer-left--social{
    display: flex;
}
.footer-social--image{
    display: flex;
   justify-content: center;
   align-items: center;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   margin-right: 15px;
   background-color: #555;
   transition: all .5s ease;
}
.footer-left--copy{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #bbb;
}
.footer-midle{
    flex: 2;
   font-size: 14px;
   line-height: 1.7;
   color: #aaa;
}
.footer-right{
    flex: 1;
    padding: 50px;
    border-radius: 2px;
    margin-left: 30px;
    background-color: #444;
}
/* para estilizar o form*/
.footer-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.footer-right input{
    width: 100%;
    padding: 10px 2px;
    border: none;
    border-bottom: 2px solid #bbb;
    margin-bottom: 10px;
    color: #fff;
    background: none;
    outline: none;
}
.footer-right input:hover,
.footer-right input:focus {
   border-bottom: 2px solid #B28756;
}
.footer-right input::placeholder {
   text-align: center;
   font-size: 11px;
   text-transform: uppercase;
   color: #999;
}
footer .button:hover {
   color: #555;
   border-color: #eee;
   background-color: #eee;
   cursor: pointer;
}

@media (min-width:400px) and (max-width:800px){
    nav{
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 99;
        right: 0;
        top: 100px;
        background-color: rgba(0,0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        font-size: 23px;
        margin-left: 50px;
        height: 70px;
        border: none;
    }
    .menu li.active a{
        border:0;
        color: #b28756;
    }
    .menu-opener{
        width: 45px;
        margin-right: 30px;
        display: block;
    }

    .section-aboutus{
        flex-direction: column;        
    }
    .section-aboutus-left{
        margin-left: 40px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .section-aboutus-rigth{
        width: auto;
    }
    .section-aboutus-rigth img{
        width: 400px;
    }
    .section-services {
        flex-wrap: wrap;
    }
    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child{
        border-left: 0;
    }
    .section-team{
        max-width: 580px;
    }
    .section-companies--area{
        flex-wrap: wrap;
    }
    .section-company{
        min-width: 33%;
        margin-bottom: 30px;
    }
    .price-table {
        flex-wrap:wrap;
    }
    .price-table--area{
        margin-left:20px;
        min-width:calc(50% - 40px);
        margin-bottom:20px;
    }
    .price-table--area:last-child{
        margin-right: 20px;
    }
    .section-premium .slidearea{
        flex-direction: column;
    }
    .section-premium .slidearea img {
        margin-bottom: 30px;
    }
    .section-facts {
        flex-wrap: wrap;
    }
    .section-fact{
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-map{
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map-area{
        width: auto;
    }
    .section-map--info{
        width: auto;
    }
    .section-map--info-item{
        margin-bottom: 25px;
    }
    .section-map--info-item:last-child{
        margin-bottom: 0;
    }
    .section-footer{
        flex-wrap: wrap;
    }
    .footer-left,
    .footer-midle{
        min-width: calc(50% - 40px);
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 50px;
    }
    .footer-right{
        flex:none;
        margin: auto;        
    }

}